acres==0.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.8.0
arabic-reshaper==3.0.0
astor==0.8.1
attrs==25.1.0
audioop-lts==0.2.2
azure-ai-formrecognizer==3.3.3
azure-cognitiveservices-vision-computervision==0.9.1
azure-common==1.1.28
azure-core==1.32.0
beautifulsoup4==4.13.4
blinker==1.9.0
brotli==1.2.0
bs4==0.0.2
cachetools==6.1.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.2
cowsay==6.1
croniter==2.0.3
cryptography==45.0.4
cssselect==1.3.0
cssselect2==0.8.0
cssutils==2.11.1
cycler==0.12.1
dataclasses-json==0.6.7
DateTime==5.5
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
discord.py==2.6.4
disnake==2.9.1
distro==1.9.0
docopt==0.6.2
docx==0.2.4
dotenv==0.9.9
easyocr==1.7.2
einops==0.8.1
et_xmlfile==2.0.0
etelemetry==0.3.1
filelock==3.17.0
flatbuffers==25.2.10
fonttools==4.58.0
fpdf==1.7.2
fpdf2==2.8.5
frontend==0.0.3
frozenlist==1.5.0
fsspec==2025.5.1
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.45
GPUtil==1.4.0
greenlet==3.2.3
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.33.0
humanfriendly==10.0
idna==3.10
ImageHash==4.3.2
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
img2pdf==0.6.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.4.2
jpype1==1.6.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-openai==0.3.24
langchain-text-splitters==0.3.8
langdetect==1.0.9
langsmith==0.3.45
lazy_loader==0.4
llvmlite==0.44.0
looseversion==1.3.0
lxml==5.3.1
Markdown==3.10
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.3
more-itertools==10.7.0
mpmath==1.3.0
msrest==0.7.1
multidict==6.1.0
mypy_extensions==1.1.0
narwhals==2.11.0
natsort==8.4.0
networkx==3.4.2
nibabel==5.3.2
ninja==1.13.0
nipype==1.9.2
numba==0.61.2
numpy==2.2.2
oauthlib==3.2.2
onnxruntime==1.22.0
onnxruntime-gpu==1.22.0
openai==1.88.0
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt-einsum==3.3.0
orjson==3.10.18
outcome==1.3.0.post0
packaging==24.2
paddleocr==3.0.2
paddlepaddle==3.0.0
paddlex==3.0.2
pandas==2.2.3
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer.six==20250506
pdfplumber==0.11.7
pefile==2023.2.7
pick==2.4.0
pikepdf==9.5.2
pillow==10.4.0
pipreqs==0.4.13
platformdirs==4.3.8
pooch==1.8.2
premailer==3.10.0
prettytable==3.16.0
proglog==0.1.11
prompt-tool-kit==1.0.14
prompt_toolkit==3.0.52
propcache==0.2.1
protobuf==6.31.1
prov==2.0.1
puremagic==1.28
py-cpuinfo==9.0.0
pyarrow==21.0.0
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydeck==0.9.1
pydot==3.0.4
pydyf==0.11.0
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyMatting==1.1.14
PyMuPDF==1.25.3
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyphen==0.17.2
pyreadline3==3.5.4
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-doctr==0.11.0
python-docx==1.1.2
python-dotenv==1.0.1
python-inquirer==1.0.3
python-pptx==1.0.2
pytubefix==8.12.3
pytz==2024.2
PyWavelets==1.8.0
pywin32==310
pywin32-ctypes==0.2.3
pyxnat==1.6.3
PyYAML==6.0.2
RapidFuzz==3.13.0
rdflib==6.3.2
referencing==0.36.2
regex==2024.11.6
rembg==2.0.66
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rpds-py==0.25.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
selenium==4.31.0
setuptools==75.8.0
shapely==2.1.1
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.48
starlette==0.45.3
streamlit==1.51.0
sympy==1.14.0
tabula-py==2.10.0
tenacity==9.1.2
threadpoolctl==3.6.0
tifffile==2025.6.11
tiktoken==0.9.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.21.1
toml==0.10.2
torch==2.7.1+cpu
torchaudio==2.7.1+cpu
torchvision==0.22.1+cpu
tornado==6.5.2
tqdm==4.67.1
traits==7.0.2
trio==0.29.0
trio-websocket==0.12.2
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.0
tzdata==2025.1
ujson==5.10.0
urllib3==2.3.0
uv==0.6.11
uvicorn==0.34.0
watchdog==6.0.0
wcwidth==0.2.13
weasyprint==66.0
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
windows-curses==2.4.1
wrapt==1.17.2
wsproto==1.2.0
XlsxWriter==3.2.2
yarg==0.1.10
yarl==1.18.3
zope.interface==7.2
zopfli==0.4.0
zstandard==0.23.0
